.app-header {
  background-image: url('fondo.jpg');
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
  padding: 20px;
  text-align: center;
  flex: 1;
}

.app-header h1 {
  margin: 0;
  flex: 1;
  text-align: center;
}

.app-header {
  /* ... (estilos existentes) ... */
  justify-content: space-between;
  align-items: center;


}

.logo-nav {
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: center;
  flex: 1;
  justify-content: center;
}

.logo {
  margin: 0;
  font-size: 1.5em;
}

nav {
  display: flex;
  gap: 20px;
}

nav a { /* <Link> se renderiza como una <a>, así que podemos estilizarla */
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 0;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.2s;
}

nav a:hover {
  border-bottom-color: #61dafb; /* Color azul de React */
}

.center-nav-items {
  flex: 1;
  text-align: center;
  align-items: center;
}

.logo {
  height: 60px;
  border-radius: 50%;
}